div.mainbody {
    color: #FFFFFF;
    min-height: 330px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 1090px;
    margin: auto;
    border-radius: 20px;
    position: relative;
    top: -50px;
    padding: 20px;
    background-color: #EFEFEF;
}