div.topbar {
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 60px;
    background-color: #707070;
    padding-left: 10px;
    align-items: center;
    display: flex;
}

a.topbar {
    color: white;
    text-decoration: none;
    font-weight: bold;
}