div.topbanner {
    height: 200px;
    background-color: #EFEFEF;
}

center.topbanner {
    font-size: 50px;
    font-weight: bold;
    color: #707070;
    position: absolute;
    top: 110px;
    text-align: center;
    /* background-color: aqua; */
    width: 99%;

}