div.topbanner {
    height: 200px;
    background-color: #EFEFEF;
    padding-left: 10px;
    padding-top: 10px;
}

center.topbanner {
    font-size: 50px;
    font-weight: bold;
    color: #707070;
    position: absolute;
    top: 110px;
    text-align: center;
    /* background-color: aqua; */
    width: 99%;
}

/* tratamento responsivo */
@media(max-width: 1090px) {
    img.topbanner {
        display: none;
    }
}